mixin bandeau()
    .bandeau.container-fluid
        .row
            .bandeau-informations.col-xs-7
                h4 Une idée de&nbsp;
                    |
                    span projet
                p N'attendez pas & commençons ensemble dès maintenant !
            .bandeau-link.col-xs-5
                +button('#', 'Contactez-nous !', 'white')