.bandeau {
    background-color: $teksialBlue;
    &-informations {
        color: #ffffff;
        text-align: left;
        margin: 110px auto;
        & h4{
            font-size: 32px;
            margin-bottom: 30px;
            font-weight: 500;
            & span {
                font-size: 40px;
                font-weight: 700;
            }
        }
    }

    &-link {
        margin: auto;
        // text-align: right;
    }
}