/* src/assets/styles/components/_footer.scss  */

.footer {
  box-shadow: inset 0px 4px 4px rgba(45, 47, 44, 0.25);
  padding: 50px 72px 20px 72px !important;
  &-company{
    font-weight: 500;
    &_logo{
      width: 170px;
    }
    & > p {
      margin-top: 30px;
      margin-bottom: 15px;
    }
    &_contact {
      a[href^="mailto"],
      a[href^="tel"] {
        color: $teksialBlue;
        font-style: normal;
      }
    }
    &_rs {
      display: flex;
      margin-top: 33px;
      & a:first-child{
        margin-right: 15px;
      }
    }
  }
  &-menu{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    &-item{
      & a:hover{
        color: $teksialBlue;
      }
      &_title{
        color: $teksialGrey;
        font-weight: 500;
        text-transform: uppercase;
      }
      &_list {
        margin-top: 25px !important;
        & li {
          margin-bottom: 15px;
          & a {
            font-weight: 300;
            color: rgba(45, 47, 44, .5);
          }
        }
      }
    }
  }
}

/*
  Responsive
*/

@media screen and(max-width: $grid-width) {

}
